#header{
    height:50px;
    width:100%;
    font-size:25px;
    font-weight:100;
    color:orange;
    padding:10px 25px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header img{
    height:100%;
    margin:0 5px;
}